<template>
  <div>
    <modal
      v-for="modal in modals"
      :id="modal.id"
      :key="modal.id"
    >
      <component
        :is="modal.component"
        v-bind="modal.props"
      />
    </modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Modal from './Modal.vue';
import generateModalId from '../utils/generateModalId.js';
import { ComponentProps, ModalProps } from '../../types/index';

export default Vue.extend({
  name: 'ModalContainer',
  components: {
    Modal,
  },
  data() {
    return {
      modals: [] as Array<ModalProps>,
    };
  },
  computed: {
    count() {
      return this.$data.modals.length;
    },
  },
  created() {
    this.$on('v-modal::spawn', (payload) => {
      const { component, componentProps } = payload;
      this.add(component, componentProps);
    });
    this.$on('v-modal::kill', (payload) => {
      const { id } = payload;
      this.remove(id);
    });
    this.$on('v-modal::kill-all', (payload) => {
      this.modals = [];
    });
    this.$on('v-modal::add', (payload) => {
      const { id } = payload;
      const index = this.$children.findIndex((x) => x.$props.id === id);
      if (index !== -1) {
        const modal = this.$children[index];
        modal.$emit('v-modal::init-show');
      }
    });
  },
  methods: {
    add(component: Vue, componentProps: ComponentProps = {}) {
      const modalId = generateModalId();
      const modalProps: ModalProps = {
        component: component,
        id: modalId,
        props: componentProps,
      };
      this.modals.push(modalProps);
      const payload = {
        id: modalId,
      };
      this.$nextTick(() => {
        this.$emit('v-modal::add', payload);
      });
    },
    remove(id: string) {
      const index = this.modals.findIndex((x) => x.id === id);

      if (index !== -1) {
        const payload = {
          id: this.$data.modals[index].id,
        };
        this.modals.splice(index, 1);
        this.$emit('v-modal::remove', payload);
      }
    },
  },
});
</script>
